/* * {
    background-color: #1f1b24;
} */

/* #main_notebook {
    padding: 50px;
    background-color: red;
} */

#label_sidebar{
    padding: 10px 50px;
    color: black;
    background-color: salmon;
    border-radius: 10px;
}

#box_rmc{
    background-color: sandybrown;
    color: black;
}

#label_fulldata{
    color: black;
}