*{
    background-color: grey;
}

#window-gan {
    transition: 0.3s;
}

#label {
    padding: 10px 10px;
    color: white;
}

#btn-gan {
    padding: 10px 10px;
    background-color: red;
}

#box_kanan{
    border: dashed 5px red; 
}

#box_kiri{
    border: dashed 5px blue; 
}