#mainWindow{
    background-color: white;
    background-repeat: no-repeat;
    background-position: left top;
    color: black;
}

#product_info{
   color: #4069db;
}

#row_body{

}

#row8{
    color: black;
    font-weight: bold;
}
